.banner {
    min-height: 223px;
    width: 90%;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0 auto 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    }

.banner > h2 {
    font-size: 48px;
}


@media (max-width: 1023px) {
    .banner {
        min-height: 111px;
        margin: 20px auto;
    }

    .banner > h2 {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .banner {
        justify-content: flex-start;
    }

    .banner > h2 {
        font-size: 20px;
        padding-left: 30px;
        width: 185px;
    }

}