.apartment_img {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 2rem;
    position: relative;
    height: 25rem;
    
  }

.apartment_img > img {
    width: 100%;
    inset: 0;
    border-radius: 10px;
    max-height: 410px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.apartment_img > img.show {
    opacity: 1;
}

.button_container {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 70px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:active {
  transform: scale(0.2);
}

  .btn-previous {
    position: absolute;
    left: 10px;
  }
  
  .btn-next {
    position: absolute;
    right: 10px;
  }

@media (max-width: 768px) {

    .apartment_img {
        height: 255px;
      }

    .apartment_img > img {
        /* min-height: 255px; */
        object-fit: cover;
        border-radius: 10px;
    }

    .btn {
        font-size: 30px;
    }
}