.description {
    margin-block: 20px;
    margin-inline: 10px;
    width: 100%;
    overflow: hidden;
}

.description_content {
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -15px;
    z-index: -1;
    animation: slide-in 0.3s ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    
}

.description > p{
    margin: 0;
    padding: 30px 20px;
}

.description_title {
    background-color: #ff6060;
    color: white;
    padding-inline: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chevron {
    font-size: 25px;
    cursor: pointer;
}




@media (max-width: 768px) {
    .apartmentDescrptionBlock {
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 2rem;
    }

    .description > p{
        font-size: 12px;
        line-height: 20px;
    }
}