.description {
    margin-block: 20px;
    width: 100%;
    overflow: hidden;
}

.description_content {
    background-color: #F6F6F6;
    margin: 0;
    padding: 30px 20px;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -15px;
    z-index: -1;
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
}

@keyframes slide-out {
    100% {
        transform: translateY(-100%);
    }
}

.rotate {
    transform: rotate(180deg); 
}

.description_content > ul {
    list-style: none;
    padding: 0;
    margin-top: 6px;
    line-height: 5px;
}

.description_title {
    background-color: #ff6060;
    color: white;
    padding-inline: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chevron {
    font-size: 25px;
    cursor: pointer;
}


@media (max-width: 768px) {
    /* .apartmentDescrptionBlock {
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 2rem;
    } */

    .description > p{
        font-size: 12px;
        line-height: 20px;
    }
}