.apartment {
    background-image: linear-gradient(360deg, #863535, #ff6060);
    border-radius: 10px;
    min-width: 340px;
    min-height: 340px;
    margin: 2.5rem;
    display: flex;
    align-items: flex-end;
}

.apartment > a {
    width: 40%;
    margin: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;

}


@media (max-width: 768px) {

    .apartment {
        min-width: 100%;
        margin: 10px 0px;
    }

    .apartment > a {
        margin: 15px;
    }
}