.container {
    background-color: #F6F6F6;
    min-height: 50vh;
    max-width: 90vw;
    margin: 30px auto;
    /* padding: 2rem; */
    border-radius: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
        background-color: white;
        max-width: 90vw;
        margin: 0 auto 20px;
    }
}